REACT_APP_CONTACT_PHONE=+91 98765 43210
REACT_APP_CONTACT_EMAIL=info@omvsab.com
REACT_APP_CONTACT_LOCATION=Karve Nagar, Pune, Maharashtra 411052
REACT_APP_CONTACT_ADDRESS=Sr.No 19/1/8, Above Pallavi Hotel, Lane 1, Hingane Home Colony, Karve Nagar, Pune 411052
REACT_APP_CONTACT_HOURS=Mon–Sat: 9:00 AM – 7:00 PM
REACT_APP_MAPS_URL=https://maps.app.goo.gl/WhMH7t1rx1qLQwYF9
REACT_APP_MAPS_EMBED=https://www.google.com/maps/embed?pb=...
REACT_APP_GOOGLE_SHEET_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec
